<% provide(:title, 'login') %> <!--フォーム幅等は一旦諦め(情報が錯綜)&謎の*マーク放置-->
<h1>Log in</h1>
<%= simple_form_for :sessions do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.button :submit ,"login"%>
<% end %>
