<% provide(:title, 'login') %> 
<h1>Log in</h1>
<%= simple_form_for :sessions do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.button :submit ,"login"%>
<% end %>

テスト1
<br>
email:test3@email.co.jp
<br>
pass:foobar
<br>
テスト2
<br>
email:
<br>
pass: