<% provide(:title, 'User show') %> <!--フォーム幅等は一旦諦め(情報が錯綜)-->
<h1>User show</h1>
<%= simple_form_for @user do |f| %>
 <h6>【NAME】</h6>
 <%= @user.name %>
 <h6>【EMAIL】</h6>
 <%= @user.email %>
 <h6>【PASSWORD】</h6>
 <%= @user.password_digest%>
<% end %>