.top_background {
  width: 100%;
  height: 0;
  padding-top: 66.6666666667%;
  background-image: image-url('top.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  .button_center {
    width: 100%;
    height: 50vh;
    text-align: center;
    position: relative;
    top: -15vh;
  }
}

.harf-transparent{
  background: rgba(77, 182, 172, 0.7);
}

.float-left{
  float: left;
}

.header_bg{
  background: rgba(77, 182, 172, 1);
}

.card_title_bg{
  background: rgba(0, 0, 0, 0.4);
}

//ラベル
.emphasis {
  font-weight: 700;
  color: rgb(0, 0, 0);
  background: rgba(77, 182, 172, 0.5);
}

.trim{
  height: 300px;
  width: 300px;
  object-fit: cover;

}

// メッセージのデザイン
.notification {
  font-size: 2rem;
  color: rgba(0, 0, 255, 0.7);
  .success{
    color: rgba(0, 0, 255, 0.7);
  }
  .error{
    color: rgba(255, 0, 0, 0.7);
  }
}

// フォームエラー
.simple_form {
.form-group-invalid {
  label {
      color: red;
  }
  .form-control {
      border: 1px solid red;
  }        
  .invalid-feedback {
      color: red;
  }
}
}
