// ラジオボタン色
// #26a69a teal lighten-1
// ボタン・ラベル・ヘッダー色
// #37474f blue-grey darken-3

.top_video{
  height: 80vh;
  z-index: 1;
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.button_center {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  top: -20vh;
}

.harf-transparent{
  background:rgba(55, 71, 79,0.7); 
}

.float-left{
  float: left;
}

.header_bg{
  background: rgb(55, 71, 79);
}

.card_title_bg{
  background: rgba(55, 71, 79,0.4); 
}

//ラベル
.emphasis {
  font-weight: 700;
  color: rgb(255, 255, 255);
  background: rgb(55, 71, 79); 
}

.trim{
  height: 300px;
  width: 300px;
  object-fit: cover;
}

// メッセージのデザイン
.notification {
  font-size: 2rem;
  color: rgba(0, 0, 255, 0.7);
  .success{
    color: rgba(0, 0, 255, 0.7);
  }
  .error{
    color: rgba(255, 0, 0, 0.7);
  }
}

// フォームエラー
.simple_form {
  .form-group-invalid {
    label {
        color: red;
    }
    .form-control {
        border: 1px solid red;
    }        
    .invalid-feedback {
        color: red;
    }
  }
}

// 吹き出し
.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}
.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}
.balloon5 .faceicon img{
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}
.balloon5 .chatting {
  width: 100%;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}
.says p {
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}

.top-menu {
  height: 65vh;
  object-fit: cover;
}

//home背景
.top_picture{
  background-image: url('top.jpg');
  background-size: cover;
  //擬似的に透過画像風に
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  height: 100vh;
}

.tips{
  margin-bottom: 10vh;
}

#heightAdjust {
  line-height: 20px;
}

