<footer class="page-footer blue">
  <%
=begin%>
 <div class="container">
    <div class="row">
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">胸</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a>
        </ul>
        <h5 class="white-text">体幹</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a>
        </ul>
        <h5 class="white-text">背中</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">腕</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a>
        </ul>
        <h5 class="white-text">下半身</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a>
        </ul>
        <h5 class="white-text">心肺</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a>
        </ul>
      </div>
    </div>
  </div> 
<%
=end%>
  <div class="footer-copyright">
    © 2018 Copyright Masanori Manase
  </div>
</footer>